@import './base/base.less';

/* 定义变量 */
@base-date-picker-width: 560px;
@base-date-picker-height: 400px;
.cg-datepick__label{
  width:@leftWidth;
  font-size: 1.4rem;
  height:@lineHeight;
  line-height:@lineHeight;
  padding-left:1rem;
  text-overflow:ellipsis;
  white-space: nowrap;
  float:left;
  position:@positionR;
  padding-right:@paddingR;
}
.cg-datepick__datepick{
  width:@rightWidth;
  float:left;
}
.cg-date-picker {
  .cg-base__radius();
  .cg-date-picker__input {
    display: inline-block;
    .cg-date-picker__input-content {
      width: @base-date-picker-width / 2;
    }
  }
  .cg-date-picker__picker {
    .cg-base__border(@line-main-color);
    left: 0;
    top: @default;
    width: 100%;
  }
  width: @base-date-picker-width;
  .cg-date-picker__header {
    .cg-base-box;
    width: 100%;
    height: 0.1 * @base-date-picker-height;
    line-height: 0.1 * @base-date-picker-height;
    border-bottom: 1px solid @line-main-color;
  }
  .cg-date-picker-nav {
    .cg-base-box;
    justify-content: center;
    .nav-item {
      .cg-base-center;
      flex-basis: 40px;
    }
  }
  .cg-date-picker__header-item {
    .cg-base-center;
    flex: 1;
  }
  .cg-date-picker__content {
    .cg-base-box;
    flex-wrap: wrap;
  }
  .cg-date-picker__content-item {
    .cg-base-center;
    @content-item-height: (@base-date-picker-height - 0.1*@base-date-picker-height)/5;
    flex-basis: @base-date-picker-width / 7;
    height: @content-item-height;
    line-height: @content-item-height;
    cursor: pointer;
  }
  .cg-date-picker__content-i {
    @content-item-height: (@base-date-picker-height - 0.1*@base-date-picker-height)/5;
    display: inline-block;
    width: 50%;
    height: 50%;
    line-height: @content-item-height/2;
  }
  .cg-date-picker__content-disabled {
    color: @font-light-color;
  }
  .cg-date-picker__content-selected {
    .cg-date-picker__content-i {
      .cg-base__radius();
      background: @main-color;
      color: @font-reverse-color;
    }
  }
}
