@import './base/base.less';

.cg-input {
  width: 100%;
  .cg-base__radius();
  .cg-base__border(@line-main-color);
  .cg-input__content {
    .cg-base__box;
    width: 100%;
    height: 100%;
    display: block;
  }
  &.cg-component-size__large {
    height: @large;
    .cg-base__font(@font-extraLarge-size);
    .cg-input__content {
      .cg-base__font(@font-extraLarge-size);
    }
  }
  &.cg-component-size__default {
    height: @default;
    .cg-base__font(@font-large-size);
    .cg-input__content {
      .cg-base__font(@font-large-size);
    }
  }
  &.cg-component-size__small {
    height: @small;
    .cg-base__font(@font-medium-size);
    .cg-input__content {
      .cg-base__font(@font-medium-size);
    }
  }
  &.cg-component-size__mini {
    height: @mini;
    .cg-base__font(@font-samll-size);
    .cg-input__content {
      .cg-base__font(@font-samll-size);
    }
  }
  &.cg-input--clearable {
    padding-right: 20px;
  }
  &.cg-input--disabled {
    .cg-base__border(@line-main-color);
    & > .cg-input__content {
      .cg-base__disabled();
    }
  }
  overflow: hidden;
  padding-left: 5px;
}
.cg-textarea {
  .cg-input__content {
    .cg-base__radius();
    .cg-base__border(#f00);
    width: 100%;
    height: 100%;
    display: block;
    outline: none;
  }
}
