@import './base/base.less';

.cg-scollList__base{
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  font-size: 1.4rem;
  color: #606266;
  border:0.05rem solid #ebeef5;
  border-bottom:none;
  border-right:none;
}
.cg-scollList__base tr th,.cg-scollList__base tr td{
  border-bottom: 0.05rem solid #ebeef5;
  border-right:0.05rem solid #ebeef5;
  text-align:left;
  padding:1rem;
  font-size:inherit;
}
.cg-scollList__base .cg-scollList__page td{
  text-align:center;
}
