@import './base/base.less';
@base-switch-border-width: 3px;
@base-switch-height: @current - 2*@base-switch-border-width;
@base-switch-width: 2*@base-switch-height;
.cg-switch__label{
  width:20%;
  float:left;
  padding-right:2%;
  text-align:right;
  line-height:24px;
}
.cg-switch {
  width:80%;
  float:left;
  .cg-base__box;
  .cg-base__border(@line-main-color, @base-switch-border-width);
  .cg-base-box;
  .cg-base-circle;
  display: inline-block;
  height:2.5rem;
  width:6rem;
  background-color: @bg-main-color;
  transition: 0.3s;
  box-sizing: border-box;
  padding:0;
  cursor: pointer;
  & > .cg-switch__btn {
    .cg-base-circle;
    transition: 0.3s;
    height: @base-switch-height;
    width: @base-switch-height;
    background-color: @bg-light-color;
    box-sizing: border-box;
  }
  &.selected {
    @padding-left: @base-switch-width - @base-switch-height;
    width:6rem;
    padding-left: 3.5rem;
    & > .cg-switch__btn {
      background-color: @main-color;
    }
  }
}
