@import './variable/variable.less';

/** border */
.cg-base__border(@color, @width: 1px) {
  border: @width solid @color;
}
.cg-base__radius(@radius: 4px) {
  border-radius: @radius;
}

/** disabled */
.cg-base__disabled(@color: @bg-normal-color) {
  cursor: not-allowed;
  background-color: @color;
}

/** 取消内外边距 */
.cg-base__box {
  margin: 0;
  padding: 0;
  outline: none;
  border-style: none;
}

/** 字体 */
.cg-base__font(@size: @font-samll-size) {
  font-family: @font-main-family;
  font-size: @size;
  color: @font-samll-color;
}

/** icon */
.cg-base-icon {
  display: inline-block;
}
.cg-icon__del {  // 删除按钮
  width: 10px;
  height: 10px;
  background-color: #f00;
  border-radius: 100%;
  cursor: pointer;
}

/** 圆形 */
.cg-base-circle {
  border-radius: 9999999px;
}

/** flex */
.cg-base-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
}

/** inline inline-block 居中 */
.cg-base-center {
  text-align: center;
}
@font-face {
  font-family: 'iconfont';  /* project id 690121 */
  src: url('//at.alicdn.com/t/font_690121_3ci5z8gy7ch.eot');
  src: url('//at.alicdn.com/t/font_690121_3ci5z8gy7ch.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_690121_3ci5z8gy7ch.woff') format('woff'),
  url('//at.alicdn.com/t/font_690121_3ci5z8gy7ch.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_690121_3ci5z8gy7ch.svg#iconfont') format('svg');
}
.cango-uploadify__file_iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,div,p,ul,li,span,img,input,textarea{
  padding:0;
  margin:0;
  font-size:1.4rem;
  font-family: "Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif"/**/;
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}

.clear{
  clear:both;
}
