@import "./color.less";

@font-main-family: "PingFang SC";

/** 主标题体样式 */
@font-extraLarge-size: 20px;
@font-extraLarge-color: @font-dark-color;

/** 标题字体样式 */
@font-large-size: 18px;
@font-large-color: @font-main-color;

/** 小标题字体样式 */
@font-medium-size: 16px;
@font-medium-color: @font-main-color;

/** 正文字体样式 */
@font-samll-size: 14px;
@font-samll-color: @font-main-color;

/** 正文小字体样式 */
@font-extraSmall-size: 13px;
@font-extraSmall-color: @font-normal-color;

/** 辅助字体样式 */
@font-extraExtraSmall-size: 12px;
@font-extraExtraSmall-color: @font-normal-color;
